ion-content{
    --background:rgb(34,36,49);
    --color: rgb(250, 250, 250);
    --padding: 25px 20px;

    .image{
        margin: 50px 149px 0px;
        width: 200px;
        --border-radius : 100%;
    }

    .button1{
        margin: 10px auto 5px;
        width: 40%;
        --background: rgb(78, 184, 206) ;
        font-family: "Arial Narrow";
        font-size: 10px;
        --color :  rgb(34,36,49);
    
    }

    .label-area{
        margin-top: 50px;
        padding: 25px 20px;
        text-align: center;

        .line{
            width: 60%;
            border-top: 1px solid rgb(15, 158, 158);
            margin: 10px auto;
        }
       
        
    }
   
    .label-area1{
        margin-top: 20px;
        padding: 25px 20px;
        color: rgb(78, 184, 206);
    }
    .item_view{
        padding: 10px 20px 10px;
    }
    }
