ion-content{
    --background:rgb(34,36,49);

.button1{
    margin: 10px auto 5px;
    width: 40%;
    --background: rgb(78, 184, 206) ;
    font-family: "Arial Narrow";
    font-size: 10px;
    --color :  rgb(34,36,49);
}

.input-area{
    margin-top: 20px;
    padding: 10px 20px;

    .label{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 15px;
        color: rgb(78, 184, 206);
        font-family: "Arial Narrow";
    }
    .input-box{
        padding: 0 10px;
        margin-top: 10px;
        color: rgb(78, 184, 206);
        background: white;
        border-radius: 20px;
    }

    
}
}
