ion-content{
    // --padding: 25px 20px;

.label-area1 {
    font-size: 15px;
    font-family: "Arial Narrow";
    
}
.button1{
    margin: 10px auto 5px;
    width: 40%;
    --background: rgb(78, 184, 206) ;
    font-family: "Arial Narrow";
    font-size: 10px;
    --color :  rgb(34,36,49);

}

}