ion-content{
    // --padding: 25px 20px;

.label-area1 {
    font-size: 15px;
    // font-family: "Arial Narrow";
    
}
.label-area2 {
    font-size: 10px;
    // font-family: "Arial Narrow";
    
}

.alert-checkbox-label.sc-ion-alert-md {
    flex: 1;
    color: var(--ion-color-step-850,#262626);
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
  }

.button1{
    margin: 10px auto 5px;
    width: 40%;
    --background: rgb(78, 184, 206) ;
    font-family: "Arial Narrow";
    font-size: 10px;
    --color :  rgb(34,36,49);

}

}